@model IEnumerable<Project_3200_2.Models.Operation>

@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout_Nurse.cshtml";
}

<h2>DashBoard</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table table-hover">
    <tr>

        <th>
           @* @Html.DisplayNameFor(model => model.PatientId)*@
           <b> Patient Id</b>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.OperationDateTime)*@
            <b>Date</b>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.DoctorName)*@
           <b>Doctor Name</b>
        </th>
        <th>
          @*  @Html.DisplayNameFor(model => model.Activity)*@
            <b>Activity</b>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.PatientId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperationDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activity)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditProfile", new { id=item.OperationId }, new { @class = "btn button" }) 
            @*@Html.ActionLink("Details", "Details", new { id=item.OperationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OperationId })*@

        </td>
    </tr>
}

</table>
