@model IEnumerable<Project_3200_2.Models.Operation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn button" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NurseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperationDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NurseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperationDateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OperationId }, new { @class = "btn button" }) |
            @Html.ActionLink("Details", "Details", new { id=item.OperationId }, new { @class = "btn button" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OperationId }, new { @class = "btn button" })
        </td>
    </tr>
}

</table>
